In [7]:
# Import initial dependencies
import os
import pandas as pd
import numpy as np

In [8]:
# Create OS paths for each data set
y2010 = os.path.join("Texas Speed Related Incidents Data Set","TX 2010 Speed Related Crashes Data.csv")
y2011 = os.path.join("Texas Speed Related Incidents Data Set","TX 2011 Speed Related Crashes Data.csv")
y2012 = os.path.join("Texas Speed Related Incidents Data Set","TX 2012 Speed Related Crashes Data.csv")
y2013 = os.path.join("Texas Speed Related Incidents Data Set","TX 2013 Speed Related Crashes Data.csv")
y2014 = os.path.join("Texas Speed Related Incidents Data Set","TX 2014 Speed Related Crashes Data.csv")
y2015 = os.path.join("Texas Speed Related Incidents Data Set","TX 2015 Speed Related Crashes Data.csv")
y2016 = os.path.join("Texas Speed Related Incidents Data Set","TX 2016 Speed Related Crashes Data.csv")
y2017 = os.path.join("Texas Speed Related Incidents Data Set","TX 2017 Speed Related Crashes Data.csv")
y2018 = os.path.join("Texas Speed Related Incidents Data Set","TX 2018 Speed Related Crashes Data.csv")

In [9]:
# Create data frames for each data set via read_csv
y2010_df = pd.read_csv(y2010, encoding = "utf-8", low_memory = False)
y2011_df = pd.read_csv(y2011, encoding = "utf-8", low_memory = False)
y2012_df = pd.read_csv(y2012, encoding = "utf-8", low_memory = False)
y2013_df = pd.read_csv(y2013, encoding = "utf-8", low_memory = False)
y2014_df = pd.read_csv(y2014, encoding = "utf-8", low_memory = False)
y2015_df = pd.read_csv(y2015, encoding = "utf-8", low_memory = False)
y2016_df = pd.read_csv(y2016, encoding = "utf-8", low_memory = False)
y2017_df = pd.read_csv(y2017, encoding = "utf-8", low_memory = False)
y2018_df = pd.read_csv(y2018, encoding = "utf-8", low_memory = False)

In [10]:
y2018_df.head()

,Crash ID,Agency,City,County,Crash Death Count,Crash Severity,Crash Time,Crash Total Injury Count,Crash Year,Day of Week,...,Manner of Collision,Population Group,Road Class,Speed Limit,Weather Condition,Vehicle Color,Person Age,Person Ethnicity,Person Gender,Person Type
0,16173663,"Department Of Public Safety, State Of Texas",Rural Ellis County,Ellis,0,Not Injured,600,0,2018,Monday,...,One Motor Vehicle - Going Straight,Rural,Farm To Market,55,Clear,Black,62,White,Male,Driver
1,16173743,Bexar County Law Enforcement,Rural Bexar County,Bexar,0,Not Injured,220,0,2018,Monday,...,Same Direction - One Straight-One Stopped,Rural,County Road,40,Cloudy,Red,No Data,White,Female,Driver
2,16173743,Bexar County Law Enforcement,Rural Bexar County,Bexar,0,Not Injured,220,0,2018,Monday,...,Same Direction - One Straight-One Stopped,Rural,County Road,40,Cloudy,Red,17,White,Male,Driver
3,16174381,San Antonio Police Department,San Antonio,Bexar,0,Non-Incapacitating Injury,353,1,2018,Monday,...,One Motor Vehicle - Going Straight,"250,000 Pop And Over",City Street,35,Rain,Silver,20,Hispanic,Female,Driver
4,16174445,San Antonio Police Department,San Antonio,Bexar,0,Not Injured,400,0,2018,Monday,...,Angle - One Straight-One Left Turn,"250,000 Pop And Over",City Street,20,Cloudy,White,No Data,Unknown,Unknown,Driver

In [11]:
# Append all the data sets into a single data set
speedlimit_crash_df = y2010_df.append(y2011_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2012_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2013_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2014_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2015_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2016_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2017_df)
speedlimit_crash_df = speedlimit_crash_df.append(y2018_df)
speedlimit_crash_df.head()

,Crash ID,Agency,City,County,Crash Death Count,Crash Severity,Crash Time,Crash Total Injury Count,Crash Year,Day of Week,...,Manner of Collision,Population Group,Road Class,Speed Limit,Weather Condition,Vehicle Color,Person Age,Person Ethnicity,Person Gender,Person Type
0,11154479,Paris Police Department,Paris,Lamar,0,Non-Incapacitating Injury,1254,1,2010,Friday,...,Same Direction - One Straight-One Stopped,"25,000 - 49,999 Pop",Farm To Market,30,Cloudy,Gray,28,Black,Male,Driver
1,11154479,Paris Police Department,Paris,Lamar,0,Non-Incapacitating Injury,1254,1,2010,Friday,...,Same Direction - One Straight-One Stopped,"25,000 - 49,999 Pop",Farm To Market,30,Cloudy,Red,17,Hispanic,Male,Driver
2,11154515,"Department Of Public Safety, State Of Texas",Rural Wilbarger County,Wilbarger,0,Not Injured,845,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,70,Cloudy,White,33,White,Female,Driver
3,11154515,"Department Of Public Safety, State Of Texas",Rural Wilbarger County,Wilbarger,0,Not Injured,845,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,70,Cloudy,White,42,White,Female,Passenger/Occupant
4,11154515,"Department Of Public Safety, State Of Texas",Rural Wilbarger County,Wilbarger,0,Not Injured,845,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,70,Cloudy,White,14,White,Female,Passenger/Occupant

In [12]:
# Drop rows from teh data set with duplicate Crash ID's
speedlimit_crash_df = speedlimit_crash_df.drop_duplicates(['Crash ID'], keep='first')
speedlimit_crash_df = speedlimit_crash_df.reset_index(drop=True)
speedlimit_crash_df.head(2)

,Crash ID,Agency,City,County,Crash Death Count,Crash Severity,Crash Time,Crash Total Injury Count,Crash Year,Day of Week,...,Manner of Collision,Population Group,Road Class,Speed Limit,Weather Condition,Vehicle Color,Person Age,Person Ethnicity,Person Gender,Person Type
0,11154479,Paris Police Department,Paris,Lamar,0,Non-Incapacitating Injury,1254,1,2010,Friday,...,Same Direction - One Straight-One Stopped,"25,000 - 49,999 Pop",Farm To Market,30,Cloudy,Gray,28,Black,Male,Driver
1,11154515,"Department Of Public Safety, State Of Texas",Rural Wilbarger County,Wilbarger,0,Not Injured,845,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,70,Cloudy,White,33,White,Female,Driver

In [13]:
# Rename column names to be ORM class/table friendly
speedlimit_crash_df = speedlimit_crash_df.rename(columns={'Crash ID': 'crash_id','Crash Death Count': 'crash_death_count', 'Crash Severity': 'crash_severity', 'Crash Time': 'crash_time', 'Crash Total Injury Count': 'crash_total_injury_count', 'Crash Year': 'crash_year', 'Day of Week': 'day_of_week', 'Manner of Collision': 'manner_of_collision', 'Population Group': 'population_group', 'Road Class': 'road_class', 'Speed Limit': 'speed_limit', 'Weather Condition': 'weather_condition', 'Vehicle Color': 'vehicle_color', 'Person Age': 'person_age', 'Person Ethnicity': 'person_ethnicity', 'Person Gender': 'person_gender', 'Person Type': 'person_type'})

# Turn all columns headers to lowercase
speedlimit_crash_df.columns = speedlimit_crash_df.columns.str.lower()

speedlimit_crash_df.head(20)

,crash_id,agency,city,county,crash_death_count,crash_severity,crash_time,crash_total_injury_count,crash_year,day_of_week,...,manner_of_collision,population_group,road_class,speed_limit,weather_condition,vehicle_color,person_age,person_ethnicity,person_gender,person_type
0,11154479,Paris Police Department,Paris,Lamar,0,Non-Incapacitating Injury,1254,1,2010,Friday,...,Same Direction - One Straight-One Stopped,"25,000 - 49,999 Pop",Farm To Market,30,Cloudy,Gray,28,Black,Male,Driver
1,11154515,"Department Of Public Safety, State Of Texas",Rural Wilbarger County,Wilbarger,0,Not Injured,845,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,70,Cloudy,White,33,White,Female,Driver
2,11155308,Laredo Police Department,Laredo,Webb,0,Non-Incapacitating Injury,810,1,2010,Friday,...,Angle - Both Going Straight,"100,000 - 249,999 Pop",City Street,30,Clear,Red,72,Hispanic,Female,Driver
3,11156832,"Department Of Public Safety, State Of Texas",Rural Palo Pinto County,Palo Pinto,0,Non-Incapacitating Injury,1635,1,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,Farm To Market,60,Clear,Red,48,White,Male,Driver Of Motorcycle Type Vehicle
4,11156835,"Department Of Public Safety, State Of Texas",Rural Parker County,Parker,0,Not Injured,130,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,0,Clear,Gray,54,White,Male,Driver
5,11157938,Fort Worth Police Department,Fort Worth,Tarrant,0,Not Injured,610,0,2010,Friday,...,One Motor Vehicle - Going Straight,"250,000 Pop And Over",US & State Highways,40,Clear,Silver,29,White,Male,Driver
6,11158122,"Department Of Public Safety, State Of Texas",Rural Tyler County,Tyler,0,Not Injured,1410,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,30,Clear,Blue,28,White,Male,Driver
7,11158273,Mesquite Police Department,Mesquite,Dallas,0,Not Injured,450,0,2010,Friday,...,One Motor Vehicle - Going Straight,"100,000 - 249,999 Pop",Interstate,45,Cloudy,Black,20,Black,Male,Driver
8,11158274,Mesquite Police Department,Mesquite,Dallas,0,Not Injured,2300,0,2010,Friday,...,One Motor Vehicle - Going Straight,"100,000 - 249,999 Pop",Non Trafficway,0,Clear,Silver,17,White,Male,Driver
9,11159558,"Department Of Public Safety, State Of Texas",Rural McLennan County,McLennan,0,Not Injured,450,0,2010,Friday,...,One Motor Vehicle - Turning Right,Rural,County Road,40,Clear,Maroon,18,Hispanic,Male,Driver
10,11159746,"Department Of Public Safety, State Of Texas",Rural Montgomery County,Montgomery,0,Not Injured,530,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,Farm To Market,50,Clear,Green,26,White,Female,Driver
11,11162768,Irving Police Department,Irving,Dallas,0,Possible Injury,502,1,2010,Friday,...,Angle - Both Going Straight,"100,000 - 249,999 Pop",City Street,30,Clear,Gold,25,Hispanic,Male,Driver
12,11163435,"Department Of Public Safety, State Of Texas",Rural Bell County,Bell,0,Possible Injury,330,1,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,45,Clear,Green,36,White,Male,Driver
13,11163450,"Department Of Public Safety, State Of Texas",Rural Victoria County,Victoria,0,Possible Injury,2317,2,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,65,Clear,Green,No Data,Unknown,Unknown,Driver
14,11163474,"Department Of Public Safety, State Of Texas",Rural Fayette County,Fayette,0,Not Injured,400,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,55,Clear,White,22,Hispanic,Male,Driver
15,11163475,"Department Of Public Safety, State Of Texas",Rural Fayette County,Fayette,0,Not Injured,300,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,30,Clear,White,48,White,Male,Driver
16,11164302,"Department Of Public Safety, State Of Texas",Rural Van Zandt County,Van Zandt,0,Not Injured,1340,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,Farm To Market,55,Cloudy,Silver,30,White,Male,Driver
17,11165129,"Department Of Public Safety, State Of Texas",Austin,Travis,0,Not Injured,117,0,2010,Friday,...,One Motor Vehicle - Turning Left,"250,000 Pop And Over",City Street,30,Clear,Green,19,Hispanic,Male,Driver
18,11166372,Dallas County Sheriff's Office,Dallas,Dallas,0,Possible Injury,445,1,2010,Friday,...,One Motor Vehicle - Going Straight,"250,000 Pop And Over",Interstate,60,Clear,Green,44,Hispanic,Female,Driver
19,11168929,"Department Of Public Safety, State Of Texas",Rural Hidalgo County,Hidalgo,0,Not Injured,530,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,30,Clear,Gold,30,Hispanic,Male,Driver

In [14]:
# Replace 
for column in speedlimit_crash_df.columns[1:]:
    if (column == "crash_death_count") or (column == "crash_time") or (column == "crash_total_injury_count") or (column == "crash_year") or (column == "latitude") or (column == "longitude") or (column == "speed_limit") or (column == "person_age"):
         speedlimit_crash_df[column] = speedlimit_crash_df[column].replace("No Data", 0)
    else:
        speedlimit_crash_df[column] = speedlimit_crash_df[column].replace("No Data", "")

#speedlimit_crash_df.iloc[:,0:11]
speedlimit_crash_df.head()

,crash_id,agency,city,county,crash_death_count,crash_severity,crash_time,crash_total_injury_count,crash_year,day_of_week,...,manner_of_collision,population_group,road_class,speed_limit,weather_condition,vehicle_color,person_age,person_ethnicity,person_gender,person_type
0,11154479,Paris Police Department,Paris,Lamar,0,Non-Incapacitating Injury,1254,1,2010,Friday,...,Same Direction - One Straight-One Stopped,"25,000 - 49,999 Pop",Farm To Market,30,Cloudy,Gray,28,Black,Male,Driver
1,11154515,"Department Of Public Safety, State Of Texas",Rural Wilbarger County,Wilbarger,0,Not Injured,845,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,US & State Highways,70,Cloudy,White,33,White,Female,Driver
2,11155308,Laredo Police Department,Laredo,Webb,0,Non-Incapacitating Injury,810,1,2010,Friday,...,Angle - Both Going Straight,"100,000 - 249,999 Pop",City Street,30,Clear,Red,72,Hispanic,Female,Driver
3,11156832,"Department Of Public Safety, State Of Texas",Rural Palo Pinto County,Palo Pinto,0,Non-Incapacitating Injury,1635,1,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,Farm To Market,60,Clear,Red,48,White,Male,Driver Of Motorcycle Type Vehicle
4,11156835,"Department Of Public Safety, State Of Texas",Rural Parker County,Parker,0,Not Injured,130,0,2010,Friday,...,One Motor Vehicle - Going Straight,Rural,County Road,0,Clear,Gray,54,White,Male,Driver

In [15]:
# Number of rows in the df
len(speedlimit_crash_df.index)

225223

In [16]:
# Create new data frame with crash totals by gender

by_gender = y2010_df[y2010_df["Person Gender"] != "Unknown"]
by_gender = by_gender[by_gender["Person Gender"] != "No Data"]
by_gender = by_gender.groupby("Person Gender").count()
by_gender = by_gender[["Crash ID"]]
by_gender.columns = ["crashes_2010"]

by_gender11 = y2011_df[y2011_df["Person Gender"] != "Unknown"]
by_gender11 = by_gender11[by_gender11["Person Gender"] != "No Data"]
by_gender11 = by_gender11.groupby("Person Gender").count()
by_gender11 = by_gender11[["Crash ID"]]
by_gender11.columns = ["crashes_2011"]

by_gender12 = y2012_df[y2012_df["Person Gender"] != "Unknown"]
by_gender12 = by_gender12[by_gender12["Person Gender"] != "No Data"]
by_gender12 = by_gender12.groupby("Person Gender").count()
by_gender12 = by_gender12[["Crash ID"]]
by_gender12.columns = ["crashes_2012"]

by_gender13 = y2013_df[y2013_df["Person Gender"] != "Unknown"]
by_gender13 = by_gender13[by_gender13["Person Gender"] != "No Data"]
by_gender13 = by_gender13.groupby("Person Gender").count()
by_gender13 = by_gender13[["Crash ID"]]
by_gender13.columns = ["crashes_2013"]

by_gender14 = y2014_df[y2014_df["Person Gender"] != "Unknown"]
by_gender14 = by_gender14[by_gender14["Person Gender"] != "No Data"]
by_gender14 = by_gender14.groupby("Person Gender").count()
by_gender14 = by_gender14[["Crash ID"]]
by_gender14.columns = ["crashes_2014"]

by_gender15 = y2015_df[y2015_df["Person Gender"] != "Unknown"]
by_gender15 = by_gender15[by_gender15["Person Gender"] != "No Data"]
by_gender15 = by_gender15.groupby("Person Gender").count()
by_gender15 = by_gender15[["Crash ID"]]
by_gender15.columns = ["crashes_2015"]

by_gender16 = y2016_df[y2016_df["Person Gender"] != "Unknown"]
by_gender16 = by_gender16[by_gender16["Person Gender"] != "No Data"]
by_gender16 = by_gender16.groupby("Person Gender").count()
by_gender16 = by_gender16[["Crash ID"]]
by_gender16.columns = ["crashes_2016"]

by_gender17 = y2017_df[y2017_df["Person Gender"] != "Unknown"]
by_gender17 = by_gender17[by_gender17["Person Gender"] != "No Data"]
by_gender17 = by_gender17.groupby("Person Gender").count()
by_gender17 = by_gender17[["Crash ID"]]
by_gender17.columns = ["crashes_2017"]

by_gender18 = y2018_df[y2018_df["Person Gender"] != "Unknown"]
by_gender18 = by_gender18[by_gender18["Person Gender"] != "No Data"]
by_gender18 = by_gender18.groupby("Person Gender").count()
by_gender18 = by_gender18[["Crash ID"]]
by_gender18.columns = ["crashes_2018"]

by_gender16

               crashes_2016
Person Gender
Female                18114
Male                  31168

In [17]:
# Joining dataframes together
by_gender["crashes_2011"] = by_gender11["crashes_2011"]
by_gender["crashes_2012"] = by_gender12["crashes_2012"]
by_gender["crashes_2013"] = by_gender13["crashes_2013"]
by_gender["crashes_2014"] = by_gender14["crashes_2014"]
by_gender["crashes_2015"] = by_gender15["crashes_2015"]
by_gender["crashes_2016"] = by_gender16["crashes_2016"]
by_gender["crashes_2017"] = by_gender17["crashes_2017"]
by_gender["crashes_2018"] = by_gender18["crashes_2018"]

# Reset index and rename for clarity
by_gender.reset_index(inplace=True)
by_gender.head()

,Person Gender,crashes_2010,crashes_2011,crashes_2012,crashes_2013,crashes_2014,crashes_2015,crashes_2016,crashes_2017,crashes_2018
0,Female,18387,16601,16597,17374,17740,19486,18114,17898,3272
1,Male,30802,29359,28610,31464,32022,34751,31168,30798,5993

In [18]:
by_gender = by_gender.transpose()
by_gender.reset_index(inplace=True)
by_gender.columns = ["year", "female", "male"]
by_gender = by_gender.drop(by_gender.index[0])
by_gender["year"] = by_gender["year"].map(lambda x: str(x)[8:])
by_gender

   year female   male
1  2010  18387  30802
2  2011  16601  29359
3  2012  16597  28610
4  2013  17374  31464
5  2014  17740  32022
6  2015  19486  34751
7  2016  18114  31168
8  2017  17898  30798
9  2018   3272   5993

In [19]:
# Rename the df
total_crashes_by_gender = by_gender

In [20]:
# Same df creation process with grouping by race
by_race = y2010_df[y2010_df["Person Ethnicity"] != "Unknown"]
by_race = by_race[by_race["Person Ethnicity"] != "No Data"]
by_race = by_race.groupby("Person Ethnicity").count()
by_race = by_race[["Crash ID"]]
by_race.columns = ["crashes_2010"]

by_race11 = y2011_df[y2011_df["Person Ethnicity"] != "Unknown"]
by_race11 = by_race11[by_race11["Person Ethnicity"] != "No Data"]
by_race11 = by_race11.groupby("Person Ethnicity").count()
by_race11 = by_race11[["Crash ID"]]
by_race11.columns = ["crashes_2011"]

by_race12 = y2012_df[y2012_df["Person Ethnicity"] != "Unknown"]
by_race12 = by_race12[by_race12["Person Ethnicity"] != "No Data"]
by_race12 = by_race12.groupby("Person Ethnicity").count()
by_race12 = by_race12[["Crash ID"]]
by_race12.columns = ["crashes_2012"]

by_race13 = y2013_df[y2013_df["Person Ethnicity"] != "Unknown"]
by_race13 = by_race13[by_race13["Person Ethnicity"] != "No Data"]
by_race13 = by_race13.groupby("Person Ethnicity").count()
by_race13 = by_race13[["Crash ID"]]
by_race13.columns = ["crashes_2013"]

by_race14 = y2014_df[y2014_df["Person Ethnicity"] != "Unknown"]
by_race14 = by_race14[by_race14["Person Ethnicity"] != "No Data"]
by_race14 = by_race14.groupby("Person Ethnicity").count()
by_race14 = by_race14[["Crash ID"]]
by_race14.columns = ["crashes_2014"]

by_race15 = y2015_df[y2015_df["Person Ethnicity"] != "Unknown"]
by_race15 = by_race15[by_race15["Person Ethnicity"] != "No Data"]
by_race15 = by_race15.groupby("Person Ethnicity").count()
by_race15 = by_race15[["Crash ID"]]
by_race15.columns = ["crashes_2015"]

by_race16 = y2016_df[y2016_df["Person Ethnicity"] != "Unknown"]
by_race16 = by_race16[by_race16["Person Ethnicity"] != "No Data"]
by_race16 = by_race16.groupby("Person Ethnicity").count()
by_race16 = by_race16[["Crash ID"]]
by_race16.columns = ["crashes_2016"]

by_race17 = y2017_df[y2017_df["Person Ethnicity"] != "Unknown"]
by_race17 = by_race17[by_race17["Person Ethnicity"] != "No Data"]
by_race17 = by_race17.groupby("Person Ethnicity").count()
by_race17 = by_race17[["Crash ID"]]
by_race17.columns = ["crashes_2017"]

by_race18 = y2018_df[y2018_df["Person Ethnicity"] != "Unknown"]
by_race18 = by_race18[by_race18["Person Ethnicity"] != "No Data"]
by_race18 = by_race18.groupby("Person Ethnicity").count()
by_race18 = by_race18[["Crash ID"]]
by_race18.columns = ["crashes_2018"]


by_race16

                             crashes_2016
Person Ethnicity
Amer. Indian/Alaskan Native            90
Asian                                1061
Black                                7365
Hispanic                            16246
Other                                 842
White                               23301

In [21]:
# Joining dataframes together
by_race["crashes_2011"] = by_race11["crashes_2011"]
by_race["crashes_2012"] = by_race12["crashes_2012"]
by_race["crashes_2013"] = by_race13["crashes_2013"]
by_race["crashes_2014"] = by_race14["crashes_2014"]
by_race["crashes_2015"] = by_race15["crashes_2015"]
by_race["crashes_2016"] = by_race16["crashes_2016"]
by_race["crashes_2017"] = by_race17["crashes_2017"]
by_race["crashes_2018"] = by_race18["crashes_2018"]

# Reset index and rename for clarity
by_race.reset_index(inplace=True)
by_race

,Person Ethnicity,crashes_2010,crashes_2011,crashes_2012,crashes_2013,crashes_2014,crashes_2015,crashes_2016,crashes_2017,crashes_2018
0,Amer. Indian/Alaskan Native,81,64,57,50,75,82,90,88,22
1,Asian,938,943,938,1017,1108,1313,1061,1161,251
2,Black,5817,5737,5650,6366,6679,7941,7365,7365,1407
3,Hispanic,15484,15120,14593,15865,16128,17867,16246,15948,3085
4,Other,453,299,298,429,387,684,842,1118,221
5,White,25942,23328,23284,24726,24914,25735,23301,22528,4186

In [22]:
by_race = by_race.transpose()
by_race.reset_index(inplace=True)
by_race.columns = ["year", "native_american", "asian", "black", "hispanic", "other", "white"]
by_race = by_race.drop(by_race.index[0])
by_race["year"] = by_race["year"].map(lambda x: str(x)[8:])
by_race

   year native_american asian black hispanic other  white
1  2010              81   938  5817    15484   453  25942
2  2011              64   943  5737    15120   299  23328
3  2012              57   938  5650    14593   298  23284
4  2013              50  1017  6366    15865   429  24726
5  2014              75  1108  6679    16128   387  24914
6  2015              82  1313  7941    17867   684  25735
7  2016              90  1061  7365    16246   842  23301
8  2017              88  1161  7365    15948  1118  22528
9  2018              22   251  1407     3085   221   4186

In [23]:
# Rename df
total_crashes_by_race = by_race

In [24]:
# Same df creation process with grouping by race
by_county = y2010_df[y2010_df["County"] != "Unknown"]
by_county = by_county[by_county["County"] != "No Data"]
by_county = by_county.groupby("County").count()
by_county = by_county[["Crash ID"]]
by_county.columns = ["crashes_2010"]

by_county11 = y2011_df[y2011_df["County"] != "Unknown"]
by_county11 = by_county11[by_county11["County"] != "No Data"]
by_county11 = by_county11.groupby("County").count()
by_county11 = by_county11[["Crash ID"]]
by_county11.columns = ["crashes_2011"]

by_county12 = y2012_df[y2012_df["County"] != "Unknown"]
by_county12 = by_county12[by_county12["County"] != "No Data"]
by_county12 = by_county12.groupby("County").count()
by_county12 = by_county12[["Crash ID"]]
by_county12.columns = ["crashes_2012"]

by_county13 = y2013_df[y2013_df["County"] != "Unknown"]
by_county13 = by_county13[by_county13["County"] != "No Data"]
by_county13 = by_county13.groupby("County").count()
by_county13 = by_county13[["Crash ID"]]
by_county13.columns = ["crashes_2013"]

by_county14 = y2014_df[y2014_df["County"] != "Unknown"]
by_county14 = by_county14[by_county14["County"] != "No Data"]
by_county14 = by_county14.groupby("County").count()
by_county14 = by_county14[["Crash ID"]]
by_county14.columns = ["crashes_2014"]

by_county15 = y2015_df[y2015_df["County"] != "Unknown"]
by_county15 = by_county15[by_county15["County"] != "No Data"]
by_county15 = by_county15.groupby("County").count()
by_county15 = by_county15[["Crash ID"]]
by_county15.columns = ["crashes_2015"]

by_county16 = y2016_df[y2016_df["County"] != "Unknown"]
by_county16 = by_county16[by_county16["County"] != "No Data"]
by_county16 = by_county16.groupby("County").count()
by_county16 = by_county16[["Crash ID"]]
by_county16.columns = ["crashes_2016"]

by_county17 = y2017_df[y2017_df["County"] != "Unknown"]
by_county17 = by_county17[by_county17["County"] != "No Data"]
by_county17 = by_county17.groupby("County").count()
by_county17 = by_county17[["Crash ID"]]
by_county17.columns = ["crashes_2017"]

by_county18 = y2018_df[y2018_df["County"] != "Unknown"]
by_county18 = by_county18[by_county18["County"] != "No Data"]
by_county18 = by_county18.groupby("County").count()
by_county18 = by_county18[["Crash ID"]]
by_county18.columns = ["crashes_2018"]

by_county17.head()

          crashes_2017
County
Anderson           173
Andrews             55
Angelina           174
Aransas             23
Archer              25

In [25]:
# Joining dataframes together
by_county["crashes_2011"] = by_county11["crashes_2011"]
by_county["crashes_2012"] = by_county12["crashes_2012"]
by_county["crashes_2013"] = by_county13["crashes_2013"]
by_county["crashes_2014"] = by_county14["crashes_2014"]
by_county["crashes_2015"] = by_county15["crashes_2015"]
by_county["crashes_2016"] = by_county16["crashes_2016"]
by_county["crashes_2017"] = by_county17["crashes_2017"]
by_county["crashes_2018"] = by_county18["crashes_2018"]

# Reset index and rename for clarity
by_county.reset_index(inplace=True)
by_county.columns = by_county.columns.str.lower()
by_county.head()

,county,crashes_2010,crashes_2011,crashes_2012,crashes_2013,crashes_2014,crashes_2015,crashes_2016,crashes_2017,crashes_2018
0,Anderson,224,146.0,156.0,166.0,207,254.0,192.0,173.0,26.0
1,Andrews,21,35.0,56.0,61.0,136,88.0,35.0,55.0,7.0
2,Angelina,222,184.0,165.0,177.0,186,183.0,211.0,174.0,42.0
3,Aransas,39,18.0,51.0,57.0,30,33.0,43.0,23.0,2.0
4,Archer,52,26.0,46.0,42.0,52,60.0,24.0,25.0,1.0

In [26]:
# Rename df
total_crashes_by_county = by_county

In [27]:
# Import SQLAlchemy dependencies
import sqlalchemy
from sqlalchemy import create_engine, MetaData, inspect
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Numeric, Text, Float, ForeignKey
from sqlalchemy.orm import sessionmaker, relationship

In [28]:
# Create Engine
engine = create_engine("sqlite:///speeding.sqlite")

In [29]:
# Use `declarative_base` from SQLAlchemy to model the 'crashes' table as an ORM class
# Declare a Base object here
Base = declarative_base()

In [30]:
# Define the ORM class for `Crashes`
class Crashes(Base):
    
    __tablename__ = 'crashes'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    crash_id = Column(Integer, unique=True)
    agency = Column(Text)
    city = Column(Text)
    county = Column(Text)
    crash_death_count = Column(Integer)
    crash_severity = Column(Text)
    crash_time = Column(Integer)
    crash_total_injury_count = Column(Integer)
    crash_year = Column(Integer)
    day_of_week = Column(Text)
    latitude = Column(Float)
    longitude = Column(Float)
    manner_of_collision = Column(Text)
    population_group = Column(Text)
    road_class = Column(Text)
    speed_limit = Column(Integer)
    weather_condition = Column(Text)
    vehicle_color = Column(Text)
    person_age = Column(Integer)
    person_ethnicity = Column(Text)
    person_gender = Column(Text)
    person_type = Column(Text)
    
    
    def __repr__(self):
        return f"id={self.crash_id}, name={self.agency}"

In [31]:
class Gender_crashes(Base):
    
    __tablename__ = 'gender_crashes'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    year = Column(Text)
    female = Column(Integer)
    male = Column(Integer)
    
    def __repr__(self):
        return f"{self.gender}: 2010 - {self.stops_2010}"

class Race_crashes(Base):
    
    __tablename__ = 'race_crashes'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    year = Column(Text)
    native_american = Column(Integer)
    asian = Column(Integer)
    black = Column(Integer)
    hispanic = Column(Integer)
    other = Column(Integer)
    white = Column(Integer)
    
    def __repr__(self):
        return f"{self.race}: 2010 - {self.stops_2010}"

class County_crashes(Base):
    
    __tablename__ = 'county_crashes'
    
    id = Column(Integer, primary_key=True, autoincrement=True)
    county = Column(Text)
    crashes_2010 = Column(Integer)
    crashes_2011 = Column(Integer)
    crashes_2012 = Column(Integer)
    crashes_2013 = Column(Integer)
    crashes_2014 = Column(Integer)
    crashes_2015 = Column(Integer)
    crashes_2016 = Column(Integer)
    crashes_2017 = Column(Integer)
    crashes_2018 = Column(Integer)
    
    def __repr__(self):
        return f"{self.county}: 2010 - {self.stops_2010}"

In [32]:
# Use `create_all` to create the tables
Base.metadata.create_all(engine)

In [33]:
# Verify that the table names exist in the database
engine.table_names()

['county_crashes',
 'county_stops',
 'crashes',
 'date_stops',
 'demographics',
 'gender_crashes',
 'gender_stops',
 'race_crashes',
 'race_stops']

In [34]:
inspector = inspect(engine)
inspector.get_columns('race_crashes')

[{'autoincrement': 'auto',
  'default': None,
  'name': 'id',
  'nullable': False,
  'primary_key': 1,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'year',
  'nullable': True,
  'primary_key': 0,
  'type': TEXT()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'native_american',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'asian',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'black',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'hispanic',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'other',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()},
 {'autoincrement': 'auto',
  'default': None,
  'name': 'white',
  'nullable': True,
  'primary_key': 0,
  'type': INTEGER()}]

In [35]:
# connect to the database
conn = engine.connect()

# Orient ='records' creates a list of data to write
gender_data = total_crashes_by_gender.to_dict(orient='records')
race_data = total_crashes_by_race.to_dict(orient='records')
county_data = total_crashes_by_county.to_dict(orient='records')

# Insert the dataframe into the database in one bulk insert
conn.execute(Gender_crashes.__table__.delete())
conn.execute(Gender_crashes.__table__.insert(), gender_data)
conn.execute(Race_crashes.__table__.delete())
conn.execute(Race_crashes.__table__.insert(), race_data)
conn.execute(County_crashes.__table__.delete())
conn.execute(County_crashes.__table__.insert(), county_data)

conn.close()

In [36]:
engine.execute("SELECT * FROM county_crashes LIMIT 10").fetchall()

[(1, 'Anderson', 224, 146, 156, 166, 207, 254, 192, 173, 26),
 (2, 'Andrews', 21, 35, 56, 61, 136, 88, 35, 55, 7),
 (3, 'Angelina', 222, 184, 165, 177, 186, 183, 211, 174, 42),
 (4, 'Aransas', 39, 18, 51, 57, 30, 33, 43, 23, 2),
 (5, 'Archer', 52, 26, 46, 42, 52, 60, 24, 25, 1),
 (6, 'Armstrong', 36, 14, 30, 26, 9, 38, 22, 18, 2),
 (7, 'Atascosa', 132, 123, 116, 148, 130, 179, 149, 161, 17),
 (8, 'Austin', 137, 95, 142, 157, 146, 171, 140, 179, 27),
 (9, 'Bailey', 40, 18, 40, 16, 51, 37, 12, 19, 5),
 (10, 'Bandera', 97, 96, 96, 107, 99, 99, 105, 138, 15)]

In [43]:
# Testing for counties with the highest number crashes
engine.execute("SELECT * FROM county_crashes ORDER BY crashes_2010 DESC LIMIT 20").fetchall()

[(15, 'Bexar', 4617, 4871, 3796, 3513, 3791, 4176, 4499, 5069, 917),
 (56, 'Dallas', 3888, 4095, 3706, 4124, 4377, 5112, 5347, 5535, 804),
 (217, 'Tarrant', 3032, 2978, 2361, 2485, 2602, 2654, 2491, 2505, 376),
 (100, 'Harris', 2971, 2605, 3060, 3665, 3914, 4254, 4011, 3764, 680),
 (223, 'Travis', 2407, 1998, 2346, 2289, 1971, 1966, 2167, 1773, 291),
 (168, 'Montgomery', 1542, 1159, 1138, 1152, 1101, 1161, 1050, 996, 197),
 (107, 'Hidalgo', 1302, 1254, 1226, 1298, 1377, 1570, 1221, 1150, 290),
 (210, 'Smith', 1207, 1004, 1037, 898, 929, 901, 986, 829, 226),
 (61, 'Denton', 986, 826, 725, 920, 944, 960, 861, 952, 150),
 (43, 'Collin', 985, 1137, 990, 1097, 1036, 1220, 982, 882, 231),
 (159, 'McLennan', 812, 723, 601, 788, 828, 987, 746, 606, 106),
 (14, 'Bell', 727, 736, 888, 849, 836, 734, 867, 849, 111),
 (91, 'Gregg', 693, 655, 446, 466, 539, 540, 422, 462, 104),
 (78, 'Fort Bend', 566, 611, 565, 439, 509, 363, 421, 328, 97),
 (70, 'Ellis', 545, 447, 398, 404, 474, 498, 554, 470, 92),
 (31, 'Cameron', 527, 500, 399, 524, 507, 623, 617, 493, 140),
 (69, 'El Paso', 502, 574, 537, 469, 478, 598, 525, 466, 52),
 (150, 'Lubbock', 495, 496, 602, 844, 688, 801, 688, 761, 261),
 (182, 'Parker', 479, 512, 445, 475, 470, 487, 418, 464, 64),
 (20, 'Brazoria', 463, 471, 462, 494, 448, 580, 517, 431, 81)]

In [37]:
# Use Pandas to Bulk insert each data frame into their appropriate table
def populate_table(engine, table):
    """Populates a table from a Pandas DataFrame."""
    
    # connect to the database
    conn = engine.connect()
    
    # Orient='records' creates a list of data to write
    data = speedlimit_crash_df.to_dict(orient='records')

    # Optional: Delete all rows in the table 
    conn.execute(table.delete())

    # Insert the dataframe into the database in one bulk insert
    conn.execute(table.insert(), data)
    conn.close()
    
# Call the function to insert the data for each table
populate_table(engine, Crashes.__table__)

In [38]:
# Use a basic query to validate that the data was inserted correctly for table `crashes`
engine.execute("SELECT * FROM crashes LIMIT 5").fetchall()

[(1, 11154479, 'Paris Police Department', 'Paris', 'Lamar', 0, 'Non-Incapacitating Injury', 1254, 1, 2010, 'Friday', 33.66384399, -95.53569239, 'Same Direction - One Straight-One Stopped', '25,000 - 49,999 Pop', 'Farm To Market', 30, 'Cloudy', 'Gray', 28, 'Black', 'Male', 'Driver'),
 (2, 11154515, 'Department Of Public Safety, State Of Texas', 'Rural Wilbarger County', 'Wilbarger', 0, 'Not Injured', 845, 0, 2010, 'Friday', 34.13157119, -99.13679543, 'One Motor Vehicle - Going Straight', 'Rural', 'US & State Highways', 70, 'Cloudy', 'White', 33, 'White', 'Female', 'Driver'),
 (3, 11155308, 'Laredo Police Department', 'Laredo', 'Webb', 0, 'Non-Incapacitating Injury', 810, 1, 2010, 'Friday', 27.58794537, -99.52219213, 'Angle - Both Going Straight', '100,000 - 249,999 Pop', 'City Street', 30, 'Clear', 'Red', 72, 'Hispanic', 'Female', 'Driver'),
 (4, 11156832, 'Department Of Public Safety, State Of Texas', 'Rural Palo Pinto County', 'Palo Pinto', 0, 'Non-Incapacitating Injury', 1635, 1, 2010, 'Friday', 32.59241085, -98.56337837, 'One Motor Vehicle - Going Straight', 'Rural', 'Farm To Market', 60, 'Clear', 'Red', 48, 'White', 'Male', 'Driver Of Motorcycle Type Vehicle'),
 (5, 11156835, 'Department Of Public Safety, State Of Texas', 'Rural Parker County', 'Parker', 0, 'Not Injured', 130, 0, 2010, 'Friday', 32.83661427, -97.59572236, 'One Motor Vehicle - Going Straight', 'Rural', 'County Road', 0, 'Clear', 'Gray', 54, 'White', 'Male', 'Driver')]

In [39]:
# Count the number of records in the 'crashes' table
engine.execute("SELECT COUNT(*) FROM crashes").fetchall()

[(225223,)]

In [40]:
# Testing the